@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: black;
    overflow-x: hidden;
    cursor: none !important;
    scroll-behavior: smooth;
}

button {
  font-family: "Clash Display";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animate__fadeInRight {
  position: relative;
  top: 400px;
}

@media screen and (max-width:768px) {
  .animate__fadeInRight {
    position: relative;
    top: 0;
  } 
}

.header-animate {
  animation-delay: 0.5s;
}

.paragraph-animate {
  animation-delay: 1.5s;
}

.hero-btn-animate {
  animation-delay: 2s;
}

.card3-animate {
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
}

.card1-animate {
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
}

.card2-animate {
  animation-delay: 1.5s;
  animation-timing-function: ease-in-out;
}

a {
  cursor: none;
}